.prologue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  font-family: "MedievalSharp", cursive;
  font-size: 30px;
  animation: fade 2s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.prologue p {
  display: flex;
  text-align: center;
  transition: 2s;
  margin-left: 10vw;
  margin-right: 10vw;
  animation: fade 2s ease-in-out;
}
.boutonSuivant {
  display: flex;
  justify-content: center;
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
  font-size: 30px;
  background-color: #b79a7c;
  border-radius: 20px;
  cursor: pointer;
  width: 20vh;
}
.premierChoix {
  display: flex;
}
