.formChoixPseudo {
  display: flex;
  justify-content: center;
  animation: slide-in-elliptic-right-bck 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    2s both;
}
@keyframes slide-in-elliptic-right-bck {
  0% {
    transform: translateX(800px) rotateY(30deg) scale(6.5);
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 600px 50%;
    opacity: 1;
  }
}
.formChoixPseudo form {
  flex-direction: column;
}
.formChoixPseudo label {
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
  font-size: 30px;
}
.formChoixPseudo input {
  width: 26vw;
  font-family: "MedievalSharp", cursive;
  height: 5vh;
  background-color: rgb(240, 255, 255, 0);
  border-radius: 20px;
  font-size: 30px;
  border: 2px solid black;
}
.formChoixPseudo h2 {
  font-family: "MedievalSharp", cursive;
  position: absolute;
  font-size: 32px;
  left: 0;
  margin-left: 3vh;
  top: 0;
  animation: fade 2s ease-in-out;
}
.boutonValiderPseudo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
  font-size: 30px;
  background-color: #b79a7c;
  border-radius: 20px;
  width: 100%;
  height: 8vh;
  cursor: pointer;
  animation: fade 1s ease-in-out;
}
